

#menu{
	height: 60px;
	width: 100%;
	background-color: #253342;
	color: white;

	/*position: fixed;*/
}
#logo{
	float: left;
	line-height: 60px;
	padding-left: 20px;
}
.menu-all .item-menu{

	float: right;
	list-style-type: none;
	line-height: 40px;
	padding: 10px;
}.menu-all .item-menu:hover{
	background-color: red;
}
#hero{

	height: 290px;
	background: black url(../imgs/1.jpg) no-repeat center center;
	


}
#about{
	background-color: ;
	height: 400px;
	text-align: center;
	width: auto;
	font-size: 30px;
	margin: 0 auto;

}
button{
	box-shadow: 0 5px #999;
	transition-duration: 0.5s;
}
#account2{
	color: red;
	border: none;
	cursor: pointer;
}
.cta{
	width:160px; 
	height: 50px;
	margin: 20px;
	border-radius: 30px;
	background-color: #253342;
	color: white;
	font-size: 100%



}.cta:hover{
	background-color: red;

}

.cta:active{
	box-shadow: 0px 0px #666;
	transform: translateY(5px);
}

#photo2{
	height: 600px;
	background-color: #222;
	color: white;
}
.h12{
	font-size: 45px;
}

.h123{
	font-size: 45px;
}
#p12{
	font-size: 25px;

}
.redColor2{
	color: red;
	font-size: 45px;
}
.about-p1{
	color: red;
}
